<footer class="site-footer">

  <div class="wrapper">
    <div class="pure-g">
      <div class="pure-u-sm-2-5 left">
        <p>Tal vez llegaste aquí buscando mi <a href="http://fferegrino.blogspot.mx">antiguo blog</a> o el más <a href="http://thatcsharpguy.com">nuevo</a>, en ellos hay mucho código, pásate por ellos.</p>
      </div>
      <div class="pure-u-sm-1-5"></div>
      <div class="pure-u-sm-2-5 right">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  
  </div>

</footer>
